spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:
    username:
    password:
server:
  port: 8088
logging:
  level:
    root: info
## 微信小程序
wx:
  appSecret:
  appId:
##阿里云配置
oss:
  endpoint:
  accessKeyId:
  accessKeySecret:
  bucketName: